@import "scss/theme.scss";

:root {
  --primary: #515bf2;
}

body {
  height: 100vh;
}


.material-icons-round.yellow {
  color: var(--yellow);
}

.rating-icon {
  vertical-align: sub;
}

.movie-title {
    letter-spacing: 0.2rem;
}

.ls-normal {
    letter-spacing: normal;
}

.ls-spread {
    letter-spacing: 0.2rem;
}

.star-icon {
    position: relative;
    top: -1px;
    left: 6px;
}

.icon {
    position: relative;
}

.pipe-icon {
    font-weight: 700;
    color: $secondary;
}

@keyframes slowzoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.movie-detail-container {
    background-attachment: fixed;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}

.movie-detail-row {
  background: linear-gradient(60deg, black 30%, transparent 68%);
  overflow-y: auto;
}

.cover-photo {
  pointer-events: none;
  position: absolute;
  min-width: 70%;
  right:0;
  height: inherit;
  z-index: -1;
  animation-name: slowzoom;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.youtube-thumbnails-container {
  display: inline-flex;
  flex-direction: row;
  overflow-y: auto;
  width: 100%;
  /* total width */
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px
  }

  /* background of the scrollbar except button or resizer */
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 6px solid #000000;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 6px solid #000000;
  }

  &::-webkit-scrollbar-button {
    display: none
  }

  > .youtube-thumbnail {
    cursor: pointer;
    margin: 8px;
    width: 100%;
  }
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.sonar-container {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* Prevent scrollbars to appear when waves go out of bound */
.sonar-wrapper {
  position: relative;
  z-index: 0;
}

/* The circle */
.sonar-emitter {
  position: relative;
  margin: 0 auto;
  border-radius: 9999px;
  background-color: $secondary
}

/* the 'wave', same shape and size as its parent */
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $secondary;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/
.sonar-wave {
  animation: sonarWave 2s linear infinite;
}

@keyframes sonarWave {
  from {
    opacity: 0.6;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}

.h-md-inherit {
  height: auto !important;
  @include media-breakpoint-up(md) {
    height: inherit !important;
  }
}
