<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/user.css' %}" />
      <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
      <!-- Add Firebase products that you want to use -->
      <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    <script type="text/javascript">
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAsieOADWnl7Ba1VR8nylPcFZwSbcJzPOY",
        authDomain: "movieweb-ec15f.firebaseapp.com",
        databaseURL: "https://movieweb-ec15f.firebaseio.com",
        projectId: "movieweb-ec15f",
        storageBucket: "movieweb-ec15f.appspot.com",
        messagingSenderId: "68862869745",
        appId: "1:68862869745:web:e16854ffe1b748f620a950",
        measurementId: "G-Z2KL29GF5N"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.auth();
    </script>
    <title>Document</title>
  </head>
  <body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    {% block body_block %} {% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/9ba48debc8.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" crossorigin="anonymous"></script>
  </body>
</html>
