@import "scss/theme.scss";

.flex-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

img {
  background: #eeeeee;
}

.table-item {
  color: rgb(95, 99, 104);
  text-align: left;
  vertical-align: top;
  word-break: break-word;
  font-size: 12px;
  line-height: 16px;
  width: 150px;
  min-width: 150px;
  border-right: 1px solid rgb(236, 236, 237);
  flex: 1 1 auto;
  padding: 8px 12px;
}

.table-header-filter-icon {
  color: rgb(95, 99, 104);
}

.table-header {
  color: rgb(32, 33, 36);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 768px;
  }
}

@mixin modal-fullscreen() {
  padding: 0 !important; // override inline padding-right added from js

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

}

@media (max-width: 767px) {
  .modal-fullscreen-xs-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 991px) {
  .modal-fullscreen-sm-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 1199px) {
  .modal-fullscreen-md-down {
    @include modal-fullscreen();
  }
}

.modal-fullscreen {
  @include modal-fullscreen();
}

.btn-open-modal {
  margin-bottom: 0.5em;
}

.card-photo-container, .cover-photo-container {
  height: auto;
  max-height: 100%;
  width: 100%;
}

.cover-photos-container {
  transition: width 0.25s ease-in-out;

  > div {
    flex-basis: 33%;
    margin: 12px 16px;
    padding: 0;

    > img {
      width: 100%;
    }
  }
}

.img-wrap {
  position: relative;
  display: inline-block;
  width: inherit;

  &:hover .close {
    opacity: 0.6;
  }

  .close {

    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 100;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    padding: 4px 8px 8px;
  }

  img {
    width: inherit;
  }
}

#card-photo-form {
  min-height: auto;
  max-height: 100%;
}

@include media-breakpoint-up(sm) {
  .card-photo-container, .cover-photo-container {
    min-height: 200px;
  }
  #card-photo-form {
    min-height: 200px;
  }
}

.search-overlay-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  z-index: 1051;
  overflow: auto;
}

.has-search {
  width: 100%;
  margin: 0;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.movie-row-card {
  align-items: center;
}

.card {
  overflow: hidden;
  background: white;
  border-radius: .25rem;
  width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05),
  0 5px 15px 0 rgba(0, 0, 0, .05);
  transition: box-shadow 0.2s ease, background 0.3s ease, border 0.1s ease-out;

  &:hover {
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.08),
    0 5px 25px 0 rgba(0, 0, 0, .08);
    cursor: pointer;
  }
}

.card.card-clicked {
  background: transparentize($primary, 0.6);
}

.card.card-clicked figure {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.card-image {
  margin: 0;
  padding: 0;
  min-height: 120px;
  max-height: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.loading {
  position: relative;
  background-color: #E2E2E2;

  &.card-image {
    border-radius: 0;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.card-title.loading {
  height: 1.8rem;
}

.card-image.image {
  max-width: 100%;
  height: auto;
}

.card-text.loading {
  height: 80px;
}

#search-modal-footer {
  transition: all 0.2s;
}

.select-card {
  @extend .bg-primary;
  @extend .text-white;

  button.btn {
    color: white;
  }

  #select-display-video {
    display: inline-flex;
  }
}
